@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Exo&family=Josefin+Sans:wght@300&family=Krona+One&family=Montserrat:wght@400;600&family=Raleway&display=swap');
/*
    font-family: 'Aboreto', cursive;
    font-family: 'Exo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

:root {

    --cor-primaria: #E6E6E6;
    --cor-secundaria: #222831;
    --cor-terciaria: #DC3737 ;
    --cor-hover: #CFD2CF;

    --fonte-titulo: 'Aboreto', sans-serif;
    --fonte-subtitulo: 'Josefin Sans', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

* {
    margin: 0; 
    padding: 0;
 }

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    min-height: 100vh;
}

/* Cabecalho----------------------------------------------------------------- */

.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 10px;
    font-size: 18px;
}

.cabecalho__nav {
    margin: 0 20%;
    display: flex;
    gap: 15px;
}

.cabecalho__links {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

.cabecalho__links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

/* Home---------------------------------------------------------------------- */

.home {
    display: flex;;
    gap: 10%;
    margin: 5% 20%;
    text-align: justify;
}

.home__titulo {
    font-family: var(--fonte-titulo);
    font-size: 36px;
    padding-bottom: 10px;
}

.home__paragrafo1 {
    border-bottom: 2px solid var(--cor-terciaria);
    padding-bottom: 20px;
}

.home__objetivos {
    font-family: var(--fonte-subtitulo);
    font-size: 30px;
    padding-bottom: 10px;
}

.home__foto {
    width: 300px;
    margin:auto;
    margin-top: 5%;
    border: 9px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 3px;
}

/* Curriculo------------------------------------------------------------------*/

.curriculo__titulo {
    margin: 5% 20% 2% 20%;
    font-family: var(--fonte-titulo);
    font-size: 36px;
}

.curriculo__conteudo {
    display: grid; /* usando o flex n estava conseguindo colocar as 3 colunas do mesmo tamanho */
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 5%;
    text-align: justify;
    margin: 1% 7% 5% 7%;
}

.curriculo__conteudo__blocos {
    padding-right: 10%;
    border-right: 2px solid var(--cor-terciaria);
}

.curriculo__conteudo__titulo {
    font-family: var(--fonte-subtitulo);
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.curriculo__conteudo__local {
    padding-bottom: 5px;
}

.curriculo__conteudo__responsabilidade {
    margin-left: 12%;
    text-align: left;
    margin-bottom: 5%;
}

/* Cursos---------------------------------------------------------------------*/

.cursos__conteudo {
    display: flex;
    justify-content:space-between;
    margin: 0 10%;
    line-height: 40px;
}

.cursos__titulo {
    margin: 5% 20% 1.5% 20%;
    font-family: var(--fonte-titulo);
    font-size: 36px;
}

.cursos__subtitulo {
    font-family: var(--fonte-subtitulo);
    font-size: 30px;
    margin-left: 10%;
    padding-bottom: 10px;
    text-decoration: underline;
}

.cursos__certificados__links {
    text-decoration: none;
    color: var(--cor-secundaria);
    border-radius: 5px;
    padding: 4px 8px;
}

.cursos__certificados__links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    border: 2px outset var(--cor-terciaria);
    border-radius: 5px;
}

.cursos__imagem {
    width: 250px;
    border: 4px solid var(--cor-terciaria);
    padding: 1%;
    border-radius: 10px;
}

/* Contatos-------------------------------------------------------------------*/

.contato__titulo {
    margin: 5% 20% 2% 20%;
    font-family: var(--fonte-titulo);
    font-size: 36px;
}

.contato__subtitulo {
    font-family: var(--fonte-subtitulo);
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.contato__conteudo {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 0% 15%;
}

.contato__conteudo__esquerda {
    border-right: 2px solid var(--cor-terciaria);
    padding-right: 3%;
}

.contato__conteudo__texto {
    padding-bottom: 4%;
}

.contato__redes {
    display: flex;
    flex-direction: column;
}

.contato__redes__links {
    display: flex;
    flex-direction: column;
}

.contato__redes__links__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    margin-top: 7%;
    border: 4px inset var(--cor-terciaria);
    border-radius: 10px;
    padding: 5%;
    margin: 5%
}

.contato__redes__links__link:hover {
    background-color: var(--cor-hover);
    border: 4px outset var(--cor-terciaria);
    color: var(--cor-terciaria);
}

.contato__redes__icone {
    width: 20%;
}

/* Rodape---------------------------------------------------------------------*/

.rodape {
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 14px;
    padding: 7px;
    position: sticky; /* essa e a debaixo, junto com a "min-height" do body fazem o footer grudar no final da página, independente do tamanho do conteúdo */
    top: 100%;
}